.menu {
  font-size: 30px;
  color: white;
}

section {
}

#hero__pic__01 {
  max-width: var(--bp-medium);
  height: 77vh;
  text-align: center;
  display: block;
  margin: auto;
}

.logo {
  width: 100%;
  max-width: var(--bp-small);
  text-align: center;
  display: block;
  margin: auto;
  margin-top: -60px;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  list-style: none;
}
