.menu {
  font-size: 30px;
  color: white;
}

section {
}

#hero__pic__01 {
  max-width: var(--bp-m);
  height: 77vh;
  text-align: center;
  display: block;
  margin: auto;
}

h1 {
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  list-style: none;
}
