{% extends "base.html" %} {% block content %}
<style>
  footer {
    position: relative;
  }
</style>
<section>
  <div class="gallery">
    {% for id, name, image_url_1,image_url_2, qty, price in toy %}
    <!-- display each item-->
    <div class="content">
      <img src="{{ image_url_1 }}" />
      <h3>{{ name }}</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <h6>$ {{ price }}</h6>
      <ul>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
        <li><i class="fa fa-star" aria-hidden="true"></i></li>
      </ul>

      <form method="POST" action="/add_cart">
        <input type="hidden" name="name" value="{{name}}" />
        <input type="hidden" name="id" value="{{id}}" />
        <button class="add_cart">ADD TO CART</button>
      </form>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
